# ─── Python ─────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ─── Virtual environment ─────────────────────────────────
venv/
env/
.venv/

# ─── Variables de entorno ────────────────────────────────
.env


# ─── Tests ───────────────────────────────────────────────
test_*.py

# ─── IDE ─────────────────────────────────────────────────
.vscode/
.idea/
*.iml