# ─── Python ─────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ─── Virtual environment ─────────────────────────────────
venv/
env/
.venv/

# ─── Variables de entorno ────────────────────────────────
.env
node_modules/
dist/
*.exe
docker-compose.gcp-db.yml
app/QuetxalTV/docker-compose.gcp-db.yml

# Archivos generados
*.js.map
*.jsx.js
*.jsx.js.map
*.d.ts
*.tsbuildinfo
build/


# ─── Tests ───────────────────────────────────────────────
test_*.py

# ─── IDE ─────────────────────────────────────────────────
.vscode/
.idea/
*.iml
