# Artifact Registry / imagenes Docker
ARTIFACT_REGISTRY_LOCATION=us-central1
GCP_PROJECT_ID=tu-project-id
ARTIFACT_REGISTRY_REPOSITORY=quetxal-tv
IMAGE_TAG=latest

# API Gateway publico
API_GATEWAY_PUBLIC_PORT=3000
PORT=3000
JWT_SECRET=local_dev_secret
JWT_ACCESS_SECRET=super_access_secret_cambiala
SUBSCRIPTION_SERVICE_URL=subscription-service:50053
AUTH_SERVICE_URL=auth-service:50051
CATALOG_SERVICE_URL=catalogo-service:50052
FX_SERVICE_HOST=fx-service:50054
FX_SERVICE_URL=fx-service:50054
HISTORIAL_SERVICE_URL=historial-service:50054

# Subscription Service
SUBSCRIPTION_DB_HOST=ip_o_host_db_subscription
SUBSCRIPTION_DB_PORT=5432
SUBSCRIPTION_DB_USER=subscription_user
SUBSCRIPTION_DB_PASSWORD=cambiar_password_subscription
SUBSCRIPTION_DB_NAME=subscription_db
SUBSCRIPTION_DB_SCHEMA=subscription
SUBSCRIPTION_DB_SSLMODE=disable

# Catalogo Service
CATALOGO_DB_HOST=ip_o_host_db_catalogo
CATALOGO_DB_PORT=5432
CATALOGO_DB_USER=catalog_user
CATALOGO_DB_PASSWORD=cambiar_password_catalogo
CATALOGO_DB_NAME=catalog_db
CATALOGO_DB_SCHEMA=catalog
CATALOGO_DB_SSLMODE=disable

# FX Service
FX_DB_HOST=ip_o_host_db_fx
FX_DB_PORT=5432
FX_DB_USER=fx_user
FX_DB_PASSWORD=cambiar_password_fx
FX_DB_NAME=fx_db
FX_DB_SCHEMA=fx
FX_DB_SSLMODE=disable
EXCHANGE_API_KEY=cambiar_api_key_fx
EXCHANGE_API_URL=https://v6.exchangerate-api.com/v6

# Redis para FX
REDIS_TTL=3600

# Notification Service, cuando el servicio este disponible
NOTIFICATION_SERVICE_HOST=notification-service:50056

# Auth DB, cuando se integre el auth-service al compose global
AUTH_DB_HOST=ip_o_host_db_auth
AUTH_DB_PORT=5432
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=cambiar_password_auth
AUTH_DB_NAME=auth_db

# Notification DB, cuando se integre el notification-service al compose global
NOTIFICATION_DB_HOST=ip_o_host_db_notification
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_USER=notificacion_user
NOTIFICATION_DB_PASSWORD=cambiar_password_notification
NOTIFICATION_DB_NAME=notificacion_db
NOTIFICATION_DB_SCHEMA=notification
NOTIFICATION_DB_SSLMODE=disable

# SMTP para Notification Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# Historial Service
HISTORIAL_DB_HOST=ip_o_host_db_historial
HISTORIAL_DB_PORT=5432
HISTORIAL_DB_USER=historial_user
HISTORIAL_DB_PASSWORD=cambiar_password_historial
HISTORIAL_DB_NAME=historial_db
HISTORIAL_DB_SCHEMA=playback
HISTORIAL_DB_SSLMODE=disable
