DB_HOST=localhost
DB_PORT=5432
DB_USER=subscription_user
DB_PASSWORD=subscription_pass
DB_NAME=subscription_db
DB_SSLMODE=disable
DB_SCHEMA=subscription
GRPC_PORT=50053
FX_SERVICE_HOST=fx-service:50055
NOTIFICATION_SERVICE_HOST=notification-service:50056
