project_id       = "tu-proyecto-gcp"
region           = "us-central1"
zone             = "us-central1-a" # GKE
db_zone          = "us-central1-b"
monitor_zone     = "us-central1-c"
dev_zone         = "us-central1-f"
github_repo      = "TU_USUARIO_GITHUB/SA_PROYECTO_G8"
admin_cidr       = "TU_IP_PUBLICA/32"
ssh_admin_cidr   = "TU_IP_PUBLICA/32"
ssh_user         = "deployer"
ssh_pub_key_path = "~/.ssh/quetxal_deploy.pub"
gke_node_count   = 2
gke_machine_type = "e2-standard-2"
db_machine_type      = "e2-medium"
monitor_machine_type = "e2-medium"
dev_machine_type     = "e2-medium"
